<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>User Profile</h1>
    
    <p>Name: {{ details.name }}</p>
    <p>Age: {{ details.age }}</p>
    <p>Phone: {{ details.phone }}</p>
    <p>Address: {{ details.address }}</p>


    <a href="{% url 'edit' %}"><button>Edit Profile</button></a>
    <a href="{% url 'logout' %}"><button>Logout</button></a>
</body>
</html>